{% extends 'base.html' %}
{% block title %} RESERVA | CREAR {% endblock %}

{% block content %}
<div class="container mt-5" style="background-color: #1e1e1e; padding: 25px; color: white;">
    <h2 class="text-center mb-4" style="color: #f0c93d;">➕ CREAR NUEVA RESERVA</h2>
    <form action="{{ url_for('reserva.create') }}" method="POST" class="mx-auto" style="max-width: 600px;">
        <div class="mb-3">
            <label class="form-label">Cliente ID</label>
            <input type="number" class="form-control" name="ClienteID" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Recurso ID</label>
            <input type="number" class="form-control" name="RecursoID" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha Reserva</label>
            <input type="date" class="form-control" name="FechaReserva" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Hora Inicio</label>
            <input type="time" class="form-control" name="HoraInicio" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Hora Fin</label>
            <input type="time" class="form-control" name="HoraFin" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Registrar Reserva</button>
        </div>
    </form>
</div>
{% endblock %}
