{% extends 'base.html' %}
{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
<h1 class="text-center" style="color: #f0c93d;">👤 Usuarios del Sistema</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Contraseña</th>
      <th>ID Tipo de Usuario</th>
      <th>Tipo de Relacion</th>
      <th>Rol</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for u in usuarios %}
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.Nombre }}</td>
      <td>{{ u.Apellido }}</td>
      <td>{{ u.Email }}</td>
      <td>{{ u.Telefono }}</td>
      <td>{{ u.password }}</td>
      <td>{{ u.idtipouser }}</td>
      <td>{{ u.tiprelacion }}</td>
      <td>{{ u.rol }}</td>
      <td>
                <a href="{{ url_for('usuario.delete', id=s.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
    </tr>
    {%else%}
        <tr><td colspan="10" class="text-center">⚠️ No hay usuarios registrados.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
