{% extends 'base.html' %}
{%block title%}HISTORIAL{%endblock%}

{%block content%}
<h1 class="text-center mb-4" style="color: #f0c93d;">📋 HISTORIAL</h1>

<table class="table table-dark table-hover" >
    <tr>
        <td>ID</td>
        <td>ID RESERVA</td>
        <td>CAMPO MODIFICADO</td>
        <td>VALOR ANTIGUO</td>
        <td>VALOR NUEVO</td>
        <td>FECHA DEL CAMBIO</td>
        <td>ID DE USUARIO MODIFICADOR</td>
        <td>ELIMINAR</td>
    </tr>
    {%for hist in historial%}
    <tr>
        <td>hist.id</td>
        <td>hist.reser_id</td>
        <td>hist.campomodificado</td>
        <td>hist.valorantiguo</td>
        <td>hist.valornuevo</td>
        <td>hist.fechacambio</td>
        <td>hist.usuariomodifi_id</td>
        <td>
            <a href="{{url_for('historial.delete')}}" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    {%else%}
    <tr>
        <td colspan="8px" class="text-center">⚠️ No se han registrado nada en el historial de actividades</td>
    </tr>
    {%endfor%}
</table>

{%endblock%}