<!-- templates/clientes/create.html -->
{% extends 'base.html' %}
{% block title %}Registrar Cliente{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Registrar Cliente</h2>
<form action="{{ url_for('cliente.create') }}" method="POST">
    <div class="text-center">
        <label for="nom" class="form-label">Nombre:</label>
        <input type="text" name="nombre" class="form-control" id="nom" required><br>
    </div>
    <div class="text-center">
        <label for="ape" class="form-label">Apellido:</label>
        <input type="text" name="apellido" class="form-control" id="ape" required><br>
    </div>
    <div class="text-center">
        <label for="em" class="form-label">Email:</label>
        <input type="email" name="email" class="form-control" id="em" required><br>
    </div>
    <div class="text-center">
        <label for="tel" class="form-label">Teléfono:</label>
        <input type="text" name="telefono" class="form-control" id="tel" required><br>
    </div>
    <div class="text-center">
        <label for="ro" class="form-label">Rol:</label>
        <input type="texto" name="rol" class="form-control" id="ro" value="client" required><br>
    </div>
    <div class="text-center">
        <label for="pass" class="form-label">Contraseña:</label>
        <input type="password" name="password" class="form-control" id="pass" required><br>
    </div>
  <button type="submit" class="btn btn-primary">REGISTRAR CLIENTE</button>
</form>
{% endblock %}
